<ion-content class="bg-gray-100">
  <div
    class="container mx-auto lg:px-2 lg:py-2"
    *ngIf="!isLoading && pokemonData"
  >
    <div
      class="lg:rounded-2xl shadow-xl overflow-hidden"
      [ngStyle]="{ 'background': 'linear-gradient(to right, ' + getTypeColor(pokemonData.types[0].type.name, false) + ', #e3e3e3)' }"
    >
      <div class="flex items-center justify-end mr-4 py-4">
        <div class="border-b-2 border-red-600">
          <button
            slot="start"
            *ngIf="pokemonData"
            (click)="goBack()"
            class="hover:scale-105 transition duration-300"
          >
            <ion-icon name="close-circle" size="large"></ion-icon>
          </button>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">
        <div
          class="w-full md:w-1/2 p-8 flex flex-col items-center justify-center"
        >
          <img
            [src]="pokemonData.sprites.other['official-artwork'].front_default"
            [alt]="pokemonData.name"
            class="w-64 h-64 lg:h-[75%] lg:w-[75%] pokemon-image"
          />
          <div class="mt-6 flex gap-2">
            <span
              class="px-4 py-1 bg-opacity-30 rounded-full text-white font-bold"
              [ngClass]="getTypeColor(pokemonData.types[0].type.name)"
            >
              #{{ pokemonData.id | number:'3.0' }}
            </span>
            <span
              *ngFor="let type of pokemonData.types"
              class="px-4 py-1 rounded-full text-white font-bold"
              [ngClass]="getTypeColor(type.type.name)"
            >
              {{ type.type.name | titlecase }}
            </span>
          </div>
        </div>
        <div
          class="w-full md:w-1/2 p-8 bg-white bg-opacity-30 rounded-xl"
          [ngStyle]="{ 'background-color': getTypeColor(pokemonData.types[0].type.name, false) + '90' }"
        >
          <div
            class="flex md:flex-row flex-col gap-2 items-center justify-between"
          >
            <h2 class="text-3xl font-bold text-gray-800 capitalize title-font">
              {{ pokemonData.name }}
            </h2>

            <div
              (click)="addToFavorites(pokemonData)"
              class="px-4 py-2 rounded-full bg-red-600 flex items-center justify-center gap-2 text-white font-bold hover:bg-red-700 transition duration-300 cursor-pointer"
              expand="block"
            >
              <ion-icon name="heart-outline" slot="start"></ion-icon>
              {{ isFavorite(pokemonData.id) ? 'Remover dos Favoritos' :
              'Adicionar aos Favoritos' }}
            </div>
          </div>
          <div class="mb-6">
            <h3 class="text-lg font-semibold text-gray-800 mb-3">Stats</h3>
            <div *ngFor="let stat of pokemonData.stats" class="mb-2">
              <div class="flex justify-between mb-1">
                <span class="text-sm font-medium text-gray-900"
                  >{{ stat.stat.name | titlecase }}</span
                >
                <span class="text-sm font-medium text-gray-700"
                  >{{ stat.base_stat }}</span
                >
              </div>
              <div class="w-full bg-gray-300 rounded-full h-2">
                <div
                  class="h-2 rounded-full"
                  [ngStyle]="{ 'width': stat.base_stat + '%', 'background-color': getStatColor(stat.stat.name) }"
                ></div>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-4 text-gray-900">
            <div>
              <h4 class="text-sm font-semibold">Height</h4>
              <p class="text-gray-700">{{ pokemonData.height / 10 }} m</p>
            </div>
            <div>
              <h4 class="text-sm font-semibold">Weight</h4>
              <p class="text-gray-700">{{ pokemonData.weight / 10 }} kg</p>
            </div>
            <div>
              <h4 class="text-sm font-semibold">Abilities</h4>
              <p class="text-gray-700">{{ getAbilities() }}</p>
            </div>
            <div>
              <h4 class="text-sm font-semibold">Types</h4>
              <p class="text-gray-700">{{ getTypes()}}</p>
            </div>
            <div>
              <h4 class="text-sm font-semibold">Base Experience</h4>
              <p class="text-gray-700">{{ pokemonData.base_experience }}xp</p>
            </div>
          </div>
          <div class="flex justify-between mt-4">
            <button
              class="bg-gradient-to-r from-red-600 to-red-500 hover:from-red-700 hover:to-red-600 text-white px-5 py-2 rounded-full shadow-lg transform transition-transform hover:scale-105 flex items-center"
              (click)="goToDetails(pokemonData.id - 1)"
              [disabled]="pokemonData.id === 1"
            >
              <ion-icon
                name="arrow-back-circle-outline"
                size="large"
                class="mr-2"
              ></ion-icon>
              Prev
            </button>
            <button
              class="bg-gradient-to-r from-red-600 to-red-500 hover:from-red-700 hover:to-red-600 text-white px-5 py-2 rounded-full shadow-lg transform transition-transform hover:scale-105 flex items-center"
              (click)="goToDetails(pokemonData.id + 1)"
            >
              Next
              <ion-icon
                size="large"
                name="arrow-forward-circle-outline"
                class="ml-2"
              ></ion-icon>
            </button>
          </div>
        </div>
      </div>
      <div
        class="overflow-y-auto overflow-x-hidden max-h-60 mt-8 p-4  rounded-lg shadow-md"
        [ngStyle]="{ 'background': 'linear-gradient(to right, ' + getTypeColor(pokemonData.types[0].type.name, false) + ', #e5e5e5)' }"
      >
        <h3
          class="text-2xl title-font font-semibold text-gray-800 mb-4 text-center"
        >
          Moves
        </h3>
        <ul class="grid grid-cols-2 gap-4">
          <li
            *ngFor="let move of pokemonData.moves"
            class="text-gray-800 bg-gray-50 hover:bg-gray-100 p-3 rounded-md transition-transform transform hover:scale-105"
          >
            <span class="block font-medium"
              >{{ move.move.name | titlecase }}</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="flex justify-center items-center py-20">
    <div
      class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-red-600"
    ></div>
  </div>
</ion-content>
