<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ pokemonData.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <ion-card>
    <img
      [src]="pokemonData.sprites.front_default"
      alt="{{ pokemonData.name }}"
    />

    <ion-card-header>
      <ion-card-title>{{ pokemonData.name | titlecase }}</ion-card-title>
      <ion-card-subtitle>ID: {{ pokemonData.id }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Tipos:</strong> {{ getTypes() }}</p>
      <p><strong>Habilidades:</strong> {{ getAbilities() }}</p>
      <p><strong>Movimentos:</strong> {{ getMoves() }}...</p>
      <p><strong>Peso:</strong> {{ pokemonData.weight / 10 }} kg</p>
      <p><strong>Altura:</strong> {{ pokemonData.height / 10 }} m</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="isLoading">
  <ion-spinner name="crescent"></ion-spinner>
  <p>Carregando detalhes...</p>
</ion-content>
