.pokemon-card {
  transition: all 0.3s ease;
}
.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.title-font {
  font-family: "Press Start 2P", cursive;
}
