<app-header
  [showSearch]="true"
  (searchChanged)="onSearchChangeFromHeader($event)"
></app-header>

<ion-content class="bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <div class="flex justify-between w-full items-center mb-8">
      <h2 class="title-font text-2xl text-gray-800">Pokémon List</h2>
      <div class="flex space-x-2">
        <button
          (click)="prevPage()"
          [disabled]="offset === 0"
          class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-lg shadow disabled:opacity-50"
        >
          Prev
        </button>
        <button
          (click)="nextPage()"
          class="bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-lg shadow"
        >
          Next
        </button>
      </div>
    </div>

    <div *ngIf="isLoading" class="flex justify-center items-center py-20">
      <div
        class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-red-600"
      ></div>
    </div>

    <div
      *ngIf="!isLoading && filteredPokemons.length > 0"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6"
    >
      <div *ngFor="let pokemon of filteredPokemons">
        <app-poke-card
          [pokemon]="pokemon"
          (cardClick)="goToDetails($event)"
        ></app-poke-card>
      </div>
    </div>

    <div
      *ngIf="!isLoading && filteredPokemons.length === 0"
      class="text-center text-gray-600"
    >
      Nenhum Pokémon encontrado.
    </div>
  </div>
</ion-content>
