<app-header [showSearch]="false"></app-header>
<ion-content class="bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <div class="flex justify-between w-full items-center mb-8">
      <h2 class="title-font text-2xl text-gray-800">Pokémon Favorite List</h2>
    </div>
    <div
      *ngIf="!isLoading && favoritesPokemons.length === 0"
      class="text-center text-gray-600"
    >
      Nenhum Pokémon Favorito.
    </div>
    <div *ngIf="isLoading" class="flex justify-center items-center py-20">
      <app-loading></app-loading>
    </div>
    <ion-list
      *ngIf="!isLoading && favoritesPokemons.length > 0"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6"
    >
      <div *ngFor="let pokemon of favoritesPokemons">
        <app-poke-card
          [pokemon]="pokemon"
          (cardClick)="goToDetails($event)"
        ></app-poke-card>
      </div>
    </ion-list>
  </div>
</ion-content>
