<app-header [showSearch]="false"></app-header>
<div class="bg-gray-100 min-h-screen" (loaded)="loadFavorites()">
  <div class="container mx-auto px-4 py-8 relative">
    <div class="flex justify-between w-full items-center mb-8">
      <h2 class="title-font text-md md:text-2xl text-gray-800 mx-auto">
        Pokémon Favorite List
      </h2>
      <div
        *ngIf="!isLoading && favoritesPokemons.length > 0"
        class="bg-red-600 text-white font-semibold flex items-center px-2 py-1 rounded-full cursor-pointer"
        (click)="clearFavorites()"
      >
        <ion-icon name="trash-outline" class="mr-2"></ion-icon>
        <span>Limpar Favoritos</span>
      </div>
    </div>
    <div
      *ngIf="!isLoading && favoritesPokemons.length === 0"
      class="text-center text-gray-600"
    >
      Nenhum Pokémon Favorito.
    </div>
    <div *ngIf="isLoading">
      <app-loading></app-loading>
    </div>
    <ion-list
      *ngIf="!isLoading && favoritesPokemons.length > 0"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6"
    >
      <div *ngFor="let pokemon of favoritesPokemons">
        <app-poke-card
          [isLoading]="isLoading"
          [pokemon]="pokemon"
          (cardClick)="goToDetails($event)"
        ></app-poke-card>
      </div>
    </ion-list>
  </div>
</div>
