@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.title-font {
  font-family: "Press Start 2P", cursive;
}

.pokemon-card {
  transition: all 0.3s ease;
}
.pokemon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.title-font {
  font-family: "Press Start 2P", cursive;
}
.pokeball-bg {
  background: linear-gradient(
    135deg,
    #ff0000 0%,
    #ff0000 50%,
    #ffffff 50%,
    #ffffff 100%
  );
}
.pokeball-center {
  background: radial-gradient(
    circle,
    #000000 0%,
    #000000 20%,
    #ffffff 20%,
    #ffffff 100%
  );
}
.badge {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

@keyframes screenGlow {
  0% {
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.2);
  }
}

.pokedex-screen {
  animation: screenGlow 3s infinite;
}
